.navbar{
    position: fixed !important;
    width: 100%;
}
.brand-logo{
    color: #fff;
}
.main-container{
    padding-top: 70px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.box .product{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    padding: 5px;
}
.box .product .card-image{
    height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
}
.box .product .card-image img{
    width: 100%;
}

.box .product .card-title{
    display: block;
}

#totalitemId{
    color : #f08804
}
#heart{
   color : black;
   font-size: 30px; 
}
#heart.wishlistColor{
    color :red;
}